



<div class="card-container">
  <mat-card>
    <mat-card-content><div>

    <div class="example-container">

      <mat-form-field floatLabel="always">
        <mat-label>Amount</mat-label>
        <mat-select (selectionChange)="selected($event.value)">
          <mat-option  *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input  (dateChange)="onDateChange($event)" matInput [matDatepicker]="picker">
       
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


    </div>


  </div></mat-card-content>
  </mat-card>
  <kendo-listview [data]="gridData">
      <ng-template  kendoListViewItemTemplate let-dataItem="dataItem">
        <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="dataItem.bPrice"
                    [bufferValue]="dataItem.sPrice">
                </mat-progress-bar>


                <table>
                  <tr>
                    <td style="text-align: left;min-width: 250px;"> <span  style="justify-content: space-between;text-align: left; font-size: 12px;"> {{dataItem.stock_name}}</span></td>
                    <td style="text-align: right;">
                      <span style="font-size: 12px;">
                        <span class="k-icon k-i-arrow-60-down arrow-down" *ngIf="dataItem.sPrice < dataItem.bPrice"></span>
                        <span class="k-icon k-i-arrow-60-up arrow-up" *ngIf="dataItem.sPrice > dataItem.bPrice"></span>
                      |  {{ (dataItem.sPrice - dataItem.bPrice).toFixed(2) }} |
                      </span>


                    
                    
                </td>
                    <td style="text-align: right;">
                        

                      &nbsp;
                        <span style="font-size:12px;">
                         
                          |  {{ dataItem.avg }} |
                        </span>
                        &nbsp;
                  </td>
                  </tr>
                  <tr>
                    &nbsp; <td><span style="float: left;font-size: 12px;"> L : {{ dataItem.min_last }} |  H :  {{ dataItem.max_last }} </span></td>
                  &nbsp;<td><span style="float: right;font-size: 12px;">  {{ dataItem.volume }} </span></td>
            &nbsp;
                  |  &nbsp;&nbsp;<td>Changes  Min : {{dataItem.min_change}}  - Max : {{dataItem.max_change}}</td>
                  &nbsp; | &nbsp;&nbsp;<td>Buy Price   Min : {{dataItem.min_bPrice}}  - Max : {{dataItem.max_bPrice}}</td>
                  &nbsp;| &nbsp;&nbsp;<td>Sell Price   Min : {{dataItem.min_sPrice}}  -  Max : {{dataItem.max_sPrice}}</td>
                  </tr>
                </table>


      </ng-template>
      <hr>
  </kendo-listview>

</div>
