<!-- [resizable]="true" [sortable]="true" [sort]="sort" -->
<p class="grid-section-title">Explore the market</p>
<kendo-grid [kendoGridBinding]="(gridDataEquties | async)!" [resizable]="true" [sortable]="true" [sort]="sort"
 [rowClass]="rowCallback">
    <kendo-grid-column field="currency" title="Crypto currency"  [sortable]="true" >
        <ng-template kendoGridCellTemplate let-dataItem>

          <div class="card-container">
            <kendo-card width="320px" class="transaction-card">
                <kendo-card-header class="k-hstack">

                    <div>
                      <!-- <span style="font-size: 12px;">  Low : {{ dataItem.low}} High : {{ dataItem.high}}</span> -->
                        <h1 style="font-size: 10px;" kendoCardTitle class="card-title">
                            {{ dataItem.stockName  }}
                             <span  class="price">{{ dataItem.change }}%</span>
                            <!-- <span *ngIf="card.status === 'Buy'; else recieve" class="price">{{ dataItem.currentPrice  }}$</span> -->
                        </h1>

                        <p kendoCardSubtitle class="k-card-subtitle">
                          <span style="font-size: 12px;">  Low : {{ dataItem.low}}</span>
                          <span style="font-size: 12px;">  : High : {{ dataItem.high}}</span>

                          <span  class="price"
                          [@positiveState]="dataItem.currentPrice > prevDataItem.currentPrice ? true : false"
                          [@negativeState]="dataItem.currentPrice < prevDataItem.currentPrice ? true : false"
                      >
                          {{ dataItem.currentPrice | currency }}
                      </span>
                            <!-- <span class="price"> {{ dataItem.currentPrice}}</span> -->

                            <ng-template #recieve>
                                <!-- <span class="price">+{{ dataItem.currentPrice }} {{  dataItem.currentPrice}}</span> -->
                            </ng-template>
                        </p>
                    </div>
                </kendo-card-header>
            </kendo-card>
        </div>

            <!-- <div class="currency-container">
                <img class="coin-logo" src="assets/coinslogo/{{ dataItem.currency }}.png" alt="coin logo" />
                <span class="currency">
                    {{ dataItem.currency }}
                </span>
                <span class="crypto-symbol"> ({{ dataItem.symbol }}) </span>
            </div> -->
        </ng-template>
    </kendo-grid-column>
    <!-- <kendo-grid-column field="currentPrice" [width]="100" title="Price">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span
                [@positiveState]="dataItem.currentPrice > prevDataItem.currentPrice ? true : false"
                [@negativeState]="dataItem.currentPrice < prevDataItem.currentPrice ? true : false"
            >
                {{ dataItem.currentPrice | currency }}
            </span>
        </ng-template>
    </kendo-grid-column> -->
    <!-- <kendo-grid-column class="priceColumn" field="change_24h"  [sortable]="true" title="24h%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span> {{ dataItem.change_24h | number }}% </span>
            <span class="k-icon k-i-arrow-60-down arrow-down" *ngIf="dataItem.change_24h < prevDataItem.change_24h"></span>
            <span class="k-icon k-i-arrow-60-up arrow-up" *ngIf="dataItem.change_24h > prevDataItem.change_24h"></span>
        </ng-template>
    </kendo-grid-column> -->

    <!-- <kendo-grid-column field="volume" title="Market Cap" format="c"> </kendo-grid-column> -->

    <kendo-grid-column class="grid-one-day-chart" media="(min-width: 702px)" media="(max-width: 1500px)"  field="intraday" title="1 Day Chart"
      [width]="250" [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <!-- <kendo-sparkline [data]="dataItem.intraday"></kendo-sparkline> -->
        <!-- <kendo-sparkline  [data] ="(dataItem.intraday)"> </kendo-sparkline> -->
          <day-chart  [data]="dataItem.intraday" [changePct]="dataItem.change_24h">
          </day-chart>
      </ng-template>
   </kendo-grid-column>
</kendo-grid>
