<kendo-chart    [transitions]="false"   >
    <kendo-chart-tooltip  [shared]="true" class="top" position="top">
      <ng-template style="height: 10px;width: 10px; margin-top: 50px;" kendoChartSeriesTooltipTemplate let-value="value">
         <a (click)="setpoint('NIFTY',value)">
          {{ value }}
        </a>
      </ng-template>
    </kendo-chart-tooltip>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item name="categoryAxis"    [visible]="false" 
      [categories]="ltt"        
      [majorGridLines]="{ visible: false }"
      >
      </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-value-axis>
    <kendo-chart-value-axis-item name="valueAxis"  [min]="niftymin" [max]="niftymax"  [narrowRange]="true" 
    
     [visible]="true" [majorGridLines]="{ visible: true }">
    </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>
    <kendo-chart-series>
        <kendo-chart-series-item
            type="line"
            name="PCR"
            
            
            [data]="niftypcr"
            title="PCR"
            color="blue"
            [markers]="{ visible: false }"
            [line]="lineStyle"
        >
        </kendo-chart-series-item>
           </kendo-chart-series>
  
  </kendo-chart>

