    <kendo-chart    [transitions]="false"   >
        <kendo-chart-tooltip  [shared]="true" class="top" position="top">
          <ng-template style="height: 10px;width: 10px; margin-top: 50px;" kendoChartSeriesTooltipTemplate let-value="value">
             <a (click)="setpoint(symbol,value)">
              {{ value }}
            </a>
          </ng-template>
        </kendo-chart-tooltip>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item name="categoryAxis"    [visible]="false" 
          [categories]="categories"        
          [majorGridLines]="{ visible: true }"
          >
          </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-value-axis>
        <kendo-chart-value-axis-item name="valueAxis"  
        
         [visible]="true" [majorGridLines]="{ visible: false }">
        </kendo-chart-value-axis-item>
      </kendo-chart-value-axis>
        <kendo-chart-series>
            <kendo-chart-series-item
                type="line"
                name="Yesterday"
                noteTextField="extremum"
                [opacity]="10"
                [data]="Lastdata"
                title="Yesterday"
                color="orange"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>
            <kendo-chart-series-item
                type="line"
      
                noteTextField="extremum"
                [opacity]="10"
                name="Fall"
                color="red"
                title="Fall High"
                [opacity]="8"
                [data]="fallhigh"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>
            <kendo-chart-series-item
                type="line"
                name="Raise"
                color="green"
                title="Garin High"
                [opacity]="8"
                noteTextField="extremum"
                [data]="gainhigh"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>

            <kendo-chart-series-item
            type="line"
            noteTextField="extremum"
            name="Today"
                color="darkblue"
                title="Today"
                [opacity]="8"
            [markers]="{ visible: false }"
            [line]="lineStyle"
             [data]="dataopen">
            </kendo-chart-series-item> 
        </kendo-chart-series>
      
      </kendo-chart>


      <kendo-chart    [transitions]="false"   >
        <kendo-chart-tooltip  [shared]="true" class="top" position="top">
          <ng-template style="height: 10px;width: 10px; margin-top: 50px;" kendoChartSeriesTooltipTemplate let-value="value">
             <a (click)="setpoint(symbol,value)">
              {{ value }}
            </a>
          </ng-template>
        </kendo-chart-tooltip>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item name="categoryAxis"    [visible]="false" 
          [categories]="categories"        
          [majorGridLines]="{ visible: true }"
          >
          </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-value-axis>
        <kendo-chart-value-axis-item name="valueAxis"  
        
         [visible]="true" [majorGridLines]="{ visible: false }">
        </kendo-chart-value-axis-item>
      </kendo-chart-value-axis>
        <kendo-chart-series>
            <kendo-chart-series-item
                type="line"
                name="TTV-Yesterday"
                noteTextField="extremum"
                [opacity]="10"
                [data]="ttvLastdata"
                title="TTV-Yesterday"
                color="orange"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>
            <kendo-chart-series-item
                type="line"
      
                noteTextField="extremum"
                [opacity]="10"
                name="TTV-Fall"
                color="red"
                title="TTV-Fall High"
                [opacity]="8"
                [data]="ttvfallhigh"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>
            <kendo-chart-series-item
                type="line"
                name="TTV-Raise"
                color="green"
                title="TTV-Garin High"
                [opacity]="8"
                noteTextField="extremum"
                [data]="ttvgainhigh"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>

            <kendo-chart-series-item
            type="line"
            noteTextField="extremum"
            name="TTV-Today"
                color="darkblue"
                title="TTV-Today"
                [opacity]="8"
            [markers]="{ visible: false }"
            [line]="lineStyle"
             [data]="ttvdataopen">
            </kendo-chart-series-item> 
        </kendo-chart-series>
      
      </kendo-chart>
      
      
      <kendo-chart    [transitions]="false"   >
        <kendo-chart-tooltip  [shared]="true" class="top" position="top">
          <ng-template style="height: 10px;width: 10px; margin-top: 50px;" kendoChartSeriesTooltipTemplate let-value="value">
             <a (click)="setpoint(symbol,value)">
              {{ value }}
            </a>
          </ng-template>
        </kendo-chart-tooltip>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item name="categoryAxis"    [visible]="false" 
          [categories]="categories"        
          [majorGridLines]="{ visible: true }"
          >
          </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-value-axis>
        <kendo-chart-value-axis-item name="valueAxis"  
        
         [visible]="true" [majorGridLines]="{ visible: false }">
        </kendo-chart-value-axis-item>
      </kendo-chart-value-axis>
        <kendo-chart-series>
            <kendo-chart-series-item
                type="line"
                name="QTY-Yesterday"
                noteTextField="extremum"
                [opacity]="10"
                [data]="bqtyLastdata"
                title="QTY-Yesterday"
                color="orange"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>
            <kendo-chart-series-item
                type="line"
      
                noteTextField="extremum"
                [opacity]="10"
                name="QTY-Fall"
                color="red"
                title="QTY-Fall High"
                [opacity]="8"
                [data]="bqtyfallhigh"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>
            <kendo-chart-series-item
                type="line"
                name="QTY-Raise"
                color="green"
                title="QTY-Garin High"
                [opacity]="8"
                noteTextField="extremum"
                [data]="bqtygainhigh"
                [markers]="{ visible: false }"
                [line]="lineStyle"
            >
            </kendo-chart-series-item>

            <kendo-chart-series-item
            type="line"
            noteTextField="extremum"
            name="QTY-Today"
                color="darkblue"
                title="QTY-Today"
                [opacity]="8"
            [markers]="{ visible: false }"
            [line]="lineStyle"
             [data]="bqtydataopen">
            </kendo-chart-series-item> 

            <kendo-chart-series-item
            type="line"
            noteTextField="extremum"
            name="QTY-SellToday"
                color="red"
                title="Today"
                [opacity]="8"
            [markers]="{ visible: false }"
            [line]="lineStyle"
             [data]="sqtydataopen">
            </kendo-chart-series-item> 
        </kendo-chart-series>
      
      </kendo-chart>
      
      