


  <div style="display: flex;">
    <app-dashboard-stats 
    [current_Change]="maain_Dahsbaord_Stats.nifty_Current_AvgChange"
    [current_advance]="maain_Dahsbaord_Stats.nifty_Current_Advance" 
    [current_decline]="maain_Dahsbaord_Stats.nifty_Current_Decline"
    [pre_advance]="maain_Dahsbaord_Stats.nifty_Previous_Advance" 
    [pre_decline]="maain_Dahsbaord_Stats.nifty_Previous_Decline" 
    [pre_Change]="maain_Dahsbaord_Stats.nifty_Previous_AvgChange" 
    [Type]="'NIFTY'"></app-dashboard-stats>

    <app-dashboard-stats 
    [current_Change]="maain_Dahsbaord_Stats.bankNifty_Current_AvgChange"
    [current_advance]="maain_Dahsbaord_Stats.bankNifty_Current_Advance" 
    [current_decline]="maain_Dahsbaord_Stats.bankNifty_Current_Decline"
    [pre_advance]="maain_Dahsbaord_Stats.bankNifty_Previous_Advance" 
    [pre_decline]="maain_Dahsbaord_Stats.bankNifty_Previous_Decline" 
    [pre_Change]="maain_Dahsbaord_Stats.bankNifty_Previous_AvgChange" 
    [Type]="'BANKNIFTY'"></app-dashboard-stats>

    <app-dashboard-stats 
    [current_Change]="maain_Dahsbaord_Stats.psU_Current_AvgChange"
    [current_advance]="maain_Dahsbaord_Stats.psU_Current_Advance" 
    [current_decline]="maain_Dahsbaord_Stats.psU_Current_Decline"
    [pre_advance]="maain_Dahsbaord_Stats.psU_Previous_Advance" 
    [pre_decline]="maain_Dahsbaord_Stats.psU_Previous_Decline" 
    [pre_Change]="maain_Dahsbaord_Stats.psU_Previous_AvgChange" 
    [Type]="'PSU'"></app-dashboard-stats>

    <app-dashboard-stats 
    [current_Change]="maain_Dahsbaord_Stats.option_Current_AvgChange"
    [current_advance]="maain_Dahsbaord_Stats.option_Current_Advance" 
    [current_decline]="maain_Dahsbaord_Stats.option_Current_Decline"
    [pre_advance]="maain_Dahsbaord_Stats.option_Previous_Advance" 
    [pre_decline]="maain_Dahsbaord_Stats.option_Previous_Decline" 
    [pre_Change]="maain_Dahsbaord_Stats.option_Previous_AvgChange" 
    [Type]="'OPTIONS'"></app-dashboard-stats>
    
</div>

<table>
  <td>
    <button (click)="getorderbySize()"  mat-stroked-button color="accent">



      <mat-icon
      *ngIf="orderbySize">
      favorite
      </mat-icon>
      <mat-icon
      *ngIf="!orderbySize">
      favorite_border
      </mat-icon>
      </button>
  </td>
  <td>
    <mat-form-field>
      <input  (dateChange)="onDateChange($event)" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </td>
  </table>
<table>
<kendo-grid  [sortable]="true" [kendoGridBinding]="(gridData )!">
  <kendo-grid-column [width]="250" title="Stock">
      <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.stock_Name  }}
      </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="60" title="Bulish">
    <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.bulishCount  }}
    </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="60"  title="Bearish">
  <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.bearishCount  }}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="100" title="Date">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.ltt | date :'H:mm:ss'}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="60" title="Price">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Price.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="60" title="Match">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Match}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="60" title="Size">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Size.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="60"  title="Body">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Body.toFixed(2)}}
  </ng-template>
</kendo-grid-column>



<kendo-grid-column  [width]="100" title="UpperWick">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_UpperWick.toFixed(2)}}
  </ng-template>
</kendo-grid-column>




<kendo-grid-column  [width]="100" title="Lower Wick">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_LowerWick.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="100" title="Body PCT">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_BodyPct.toFixed(2)}}
  </ng-template>
</kendo-grid-column>



<kendo-grid-column [width]="100"  title="Volume">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Volume.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="100" title="Stock">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_Macd.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="100" title="MACD">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_Macd.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="100" title="Signal">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_Signal.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="100" title="FAST EMA">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_FastEma.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="100" title="SLOW EMA">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_SlowEma.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="100"  title="SAR">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.volatilityresults_Sar.toFixed(2)}}
  </ng-template>
</kendo-grid-column>




<kendo-grid-column [width]="100" title="UpperBand">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.volatilityresults_UpperBand.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column  [width]="100" title="LowerBand">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.volatilityresults_LowerBand.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

</kendo-grid>
