


  <div style="display: flex;">
    <app-dashboard-stats 
    [current_Change]="maain_Dahsbaord_Stats.nifty_Current_AvgChange"
    [current_advance]="maain_Dahsbaord_Stats.nifty_Current_Advance" 
    [current_decline]="maain_Dahsbaord_Stats.nifty_Current_Decline"
    [pre_advance]="maain_Dahsbaord_Stats.nifty_Previous_Advance" 
    [pre_decline]="maain_Dahsbaord_Stats.nifty_Previous_Decline" 
    [pre_Change]="maain_Dahsbaord_Stats.nifty_Previous_AvgChange" 
    [Type]="'NIFTY'"></app-dashboard-stats>

    <app-dashboard-stats 
    [current_Change]="maain_Dahsbaord_Stats.bankNifty_Current_AvgChange"
    [current_advance]="maain_Dahsbaord_Stats.bankNifty_Current_Advance" 
    [current_decline]="maain_Dahsbaord_Stats.bankNifty_Current_Decline"
    [pre_advance]="maain_Dahsbaord_Stats.bankNifty_Previous_Advance" 
    [pre_decline]="maain_Dahsbaord_Stats.bankNifty_Previous_Decline" 
    [pre_Change]="maain_Dahsbaord_Stats.bankNifty_Previous_AvgChange" 
    [Type]="'BANKNIFTY'"></app-dashboard-stats>

    

    <app-dashboard-stats 
    [current_Change]="maain_Dahsbaord_Stats.option_Current_AvgChange"
    [current_advance]="maain_Dahsbaord_Stats.option_Current_Advance" 
    [current_decline]="maain_Dahsbaord_Stats.option_Current_Decline"
    [pre_advance]="maain_Dahsbaord_Stats.option_Previous_Advance" 
    [pre_decline]="maain_Dahsbaord_Stats.option_Previous_Decline" 
    [pre_Change]="maain_Dahsbaord_Stats.option_Previous_AvgChange" 
    [Type]="'OPTIONS'"></app-dashboard-stats>


    <app-dashboard-stats 
    [current_Change]="maain_Dahsbaord_Stats.psU_Current_AvgChange"
    [current_advance]="maain_Dahsbaord_Stats.psU_Current_Advance" 
    [current_decline]="maain_Dahsbaord_Stats.psU_Current_Decline"
    [pre_advance]="maain_Dahsbaord_Stats.psU_Previous_Advance" 
    [pre_decline]="maain_Dahsbaord_Stats.psU_Previous_Decline" 
    [pre_Change]="maain_Dahsbaord_Stats.psU_Previous_AvgChange" 
    [Type]="'P    S    U'"></app-dashboard-stats>


<div>
  <span>
    
      {{maain_Dahsbaord_Stats.lastUpdateDateTime}} &nbsp;&nbsp;
   
  </span>
  <table>
    <tr>
      
      <td></td>
      <td style="text-align: left;">
        Advance
      </td>
      :
      <td style="text-align: right;">
        Decline
      </td>
    </tr>
  <tr style="background-color: antiquewhite;">
    <td  [ngStyle]="{'color': maain_Dahsbaord_Stats.totalSectorAvg  >  0 ? 'green' : 'red'}">
      Overall <b style="font-size: 12pt;">({{maain_Dahsbaord_Stats.totalSectorAvg.toFixed(2)}})</b>
    </td>
    <td style="font-size: 16pt;" [ngStyle]="{'color': maain_Dahsbaord_Stats.totalSectorAvg_Advance  >  maain_Dahsbaord_Stats.totalSectorAvg_Decline ? 'green' : 'red'}">
      &nbsp; <b>{{maain_Dahsbaord_Stats.totalSectorAvg_Advance}}</b>
     
      <mat-icon>arrow_upward</mat-icon> &nbsp;  &nbsp; 
      <span style="font-size: 13pt;">
        {{( maain_Dahsbaord_Stats.totalSectorAvg_Advance/maain_Dahsbaord_Stats.totalSectorAvg_Decline).toFixed(2)}} x times
      </span>
      <br>
      <span style="font-size: 8pt;">
        Buy Call
      </span>
    </td>
    <td> &nbsp;: &nbsp;</td>
    <td style="font-size: 16pt;" [ngStyle]="{'color': maain_Dahsbaord_Stats. totalSectorAvg_Advance  <  maain_Dahsbaord_Stats.totalSectorAvg_Decline ? 'green' : 'red'}">
      <b> {{maain_Dahsbaord_Stats.totalSectorAvg_Decline}}</b>
     <mat-icon>arrow_downward</mat-icon> &nbsp;  &nbsp; 
     <span style="font-size: 13pt;">
      {{( maain_Dahsbaord_Stats.totalSectorAvg_Decline/(maain_Dahsbaord_Stats.totalSectorAvg_Advance)).toFixed(2)}}
      x times
    </span>
    <br>
    <span style="font-size: 8pt;">
      Buy PUT
    </span>
    </td>
    <hr>
  </tr>
</table>
</div>

    
</div>
<br>
<div>
  <mat-card class="example-card">
    <mat-card-content>
<div style="display: flex;">
      <div>
        {{main_Dashboard_Stats_Niftys.lastupdated_Nifty_Trader_Date}}
      <app-niftytrader 
      [Nifty_Call_Buying]= "main_Dashboard_Stats_Niftys.nifty_Call_Buying" 
      [Nifty_Put_Buying]= "main_Dashboard_Stats_Niftys.nifty_Put_Buying" 
  
      [Nifty_Call_Writing]= "main_Dashboard_Stats_Niftys.nifty_Call_Writing" 
      [Nifty_Put_Writing]= "main_Dashboard_Stats_Niftys.nifty_Put_Writing" 
  
      [Nifty_Put_Long_Covering] ="main_Dashboard_Stats_Niftys.nifty_Put_Long_Covering" 
      [Nifty_Call_Long_Covering] ="main_Dashboard_Stats_Niftys.nifty_Call_Long_Covering" 
      [Nifty_Put_Short_Covering] ="main_Dashboard_Stats_Niftys.nifty_Put_Short_Covering" 
      [Nifty_Call_Short_Covering] ="main_Dashboard_Stats_Niftys.nifty_Call_Short_Covering" 
  
  >
  
  
  </app-niftytrader>
  
  <mat-card>
    <mat-card-content>
  <table >

  
    <tr>
      <td>
        Financial 
      </td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. financials_Advance  >  maain_Dahsbaord_Stats.financials_Decline ? 'green' : 'red'}">
        &nbsp; <b>{{maain_Dahsbaord_Stats.financials_Advance}}</b>
        <mat-icon>arrow_upward</mat-icon>
      </td>
      <td> &nbsp;: &nbsp;</td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. financials_Advance  <  maain_Dahsbaord_Stats.financials_Decline ? 'green' : 'red'}">
       <b> {{maain_Dahsbaord_Stats.financials_Decline}}</b>
        <mat-icon>arrow_downward</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        Energy 
      </td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. energy_Advance  >  maain_Dahsbaord_Stats.engery_Decline ? 'green' : 'red'}">
        &nbsp;  <b> {{maain_Dahsbaord_Stats.energy_Advance}}</b>
      </td>
      <td> &nbsp;: &nbsp;</td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. energy_Advance  <  maain_Dahsbaord_Stats.engery_Decline ? 'green' : 'red'}">
        <b>{{maain_Dahsbaord_Stats.engery_Decline}}</b>
      </td>
    </tr>
    <tr>
      <td>
        Technology 
      </td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. technology_Advance  >  maain_Dahsbaord_Stats.technology_Decline ? 'green' : 'red'}">
        &nbsp;    <b>{{maain_Dahsbaord_Stats.technology_Advance}}</b> 
      </td>
      <td> &nbsp;: &nbsp;</td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. technology_Advance  <  maain_Dahsbaord_Stats.technology_Decline ? 'green' : 'red'}">
       <b>{{maain_Dahsbaord_Stats.technology_Decline}}</b> 
      </td>
    </tr>
    <tr>
      <td>
        Healthcare 
      </td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. healthcare_Advance  >  maain_Dahsbaord_Stats.healthcare_Advance ? 'green' : 'red'}">
        &nbsp; <b> {{maain_Dahsbaord_Stats.healthcare_Advance}}</b>
      </td>
      <td> &nbsp;: &nbsp;</td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. healthcare_Advance  <  maain_Dahsbaord_Stats.healthcare_Decline ? 'green' : 'red'}">
        <b>{{maain_Dahsbaord_Stats.healthcare_Decline}}</b>
      </td>
    </tr>
    <tr>
      <td>
        Industrials 
      </td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. industrials_Advance  >  maain_Dahsbaord_Stats.industrials_Decline ? 'green' : 'red'}">
        &nbsp; <b> {{maain_Dahsbaord_Stats.industrials_Advance}}</b>
      </td>
      <td> &nbsp;: &nbsp;</td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. industrials_Advance  <  maain_Dahsbaord_Stats.industrials_Decline ? 'green' : 'red'}">
        <b>{{maain_Dahsbaord_Stats.industrials_Decline}}</b>
      </td>
    </tr>
    <tr>
      <td>
        Real Estate 
      </td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. realEstate_Advance  >  maain_Dahsbaord_Stats.realEstate_Decline ? 'green' : 'red'}">
        &nbsp; <b>{{maain_Dahsbaord_Stats.realEstate_Advance}} </b> 
      </td>
      <td> &nbsp;: &nbsp;</td>
      <td [ngStyle]="{'color': maain_Dahsbaord_Stats. realEstate_Advance  <  maain_Dahsbaord_Stats.realEstate_Decline ? 'green' : 'red'}">
        <b>{{maain_Dahsbaord_Stats.realEstate_Decline}}</b>
      </td>
    </tr>
  </table>
</mat-card-content>
</mat-card>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    <mat-card>
      <mat-card-content>
      
    <table>
    
      <tr>
        <td>
          
        </td>
        <td>
          <div style="display: flex;">
            <kendo-grid  [sortable]="true" [kendoGridBinding]="(qtyData )!">
          
              <kendo-grid-column [width]="100" title="Name">
                <ng-template kendoGridCellTemplate let-dataItem >
                    {{ dataItem.symbol  }}
                    
                    <b>
                    <span [ngStyle]="{'color': dataItem. buy  >  dataItem.sell ? 'green' : 'red'}" [innerHTML]="dataItem.icons"></span>
                  </b>
                    
                 
                
                    
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [width]="80" title="Buy QTY">
              <ng-template kendoGridCellTemplate let-dataItem>
                 <b [ngStyle]="{'color': dataItem. buy  >  dataItem.sell ? 'green' : 'red'}"> 
                  {{ dataItem.buy .toFixed(1) }}</b>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="80" title="Sell QTY">
            <ng-template kendoGridCellTemplate let-dataItem>
              <b [ngStyle]="{'color': dataItem. buy  <  dataItem.sell ? 'green' : 'red'}"> 
                {{ dataItem.sell.toFixed(1)}}
              </b>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="80" title="Xtimes">
          <ng-template kendoGridCellTemplate let-dataItem>
            <b [ngStyle]="{'color': dataItem. buy  <  dataItem.sell ? 'green' : 'red'}"> 
              {{ dataItem.xtimes.toFixed(1)  }}
              x
              {{ dataItem.type  }}
              </b>
          </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="80" title="CHG">
        <ng-template kendoGridCellTemplate let-dataItem>
          <b [ngStyle]="{'color': dataItem.cHG  >  0 ? 'green' : 'red'}"> 
            {{ dataItem.chg.toFixed(2)  }} %
           
            </b>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="lastUpdatedOn" title="lastUpdatedOn">

      <ng-template
          kendoGridFooterTemplate
              let-column="column"> {{column.lastUpdatedOn}}</ng-template>
  </kendo-grid-column>
          


          
            </kendo-grid>
          </div>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

  
</div>
</div>

  

</mat-card-content>

</mat-card>

</div>

<br>


<table>
  <td>
    <button (click)="getorderbySize()"  mat-stroked-button color="accent">



      <mat-icon
      *ngIf="orderbySize">
      favorite
      </mat-icon>
      <mat-icon
      *ngIf="!orderbySize">
      favorite_border
      </mat-icon>
      </button>
  </td>
  <td>
    <mat-form-field>
      <input  (dateChange)="onDateChange($event)" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </td>
  </table>
<table>
<kendo-grid  [sortable]="true" [kendoGridBinding]="(gridData )!">
  <kendo-grid-column [width]="250" title="Stock">
      <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.stock_Name  }}
      </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="60" title="Bulish">
    <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.bulishCount  }}
    </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="60" title="100">
  <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.bullishCount_100  }}
  </ng-template>
</kendo-grid-column>



<kendo-grid-column [width]="60"  title="Bearish">
  <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.bearishCount  }}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="100" title="Date">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.ltt | date :'H:mm:ss'}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="60" title="Price">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Price.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="60" title="Match">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Match}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="60" title="Size">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Size.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="60"  title="Body">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Body.toFixed(2)}}
  </ng-template>
</kendo-grid-column>



<kendo-grid-column  [width]="100" title="UpperWick">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_UpperWick.toFixed(2)}}
  </ng-template>
</kendo-grid-column>




<kendo-grid-column  [width]="100" title="Lower Wick">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_LowerWick.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="100" title="Body PCT">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_BodyPct.toFixed(2)}}
  </ng-template>
</kendo-grid-column>



<kendo-grid-column [width]="100"  title="Volume">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.candleResult_Volume.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="100" title="Stock">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_Macd.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="100" title="MACD">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_Macd.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="100" title="Signal">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_Signal.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="100" title="FAST EMA">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_FastEma.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

<kendo-grid-column [width]="100" title="SLOW EMA">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.macdresult_SlowEma.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column [width]="100"  title="SAR">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.volatilityresults_Sar.toFixed(2)}}
  </ng-template>
</kendo-grid-column>




<kendo-grid-column [width]="100" title="UpperBand">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.volatilityresults_UpperBand.toFixed(2)}}
  </ng-template>
</kendo-grid-column>


<kendo-grid-column  [width]="100" title="LowerBand">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dataItem.volatilityresults_LowerBand.toFixed(2)}}
  </ng-template>
</kendo-grid-column>

</kendo-grid>
