<!--
<div class="custom-slider">
  <ngx-slider [style.width.px]="130" [(value)]="value" [options]="sliderOptions()"></ngx-slider>
  class="cdk-focused"
    sliderColor [sliderColor]="'red'" [circleColor]="'black'"
  [color]="(currentPrice > min_len) ? 'green' : 'red'"
</div> -->


<span>
  <mat-slider
  thumbLabel="true"
  [displayWith]="formatLabel"


  showTickMarks="false"

  [min]="min_len"
  [max]="max_len"

  name ="slidervalue" [(value)] ="currentPrice"></mat-slider>
  <br/>
  <!-- <span>value is ** {dataItem.last}</span> -->
  <!-- <app-slider-Componeent [currentPrice]="dataItem.last" [open]="dataItem.open" [min_len]="dataItem.low" [max_len]="dataItem.high">

  </app-slider-Componeent> -->
</span>

