<p class="right-panel-title">Recent transactions</p>
<div class="card-container">

  <kendo-listview [data]="gridData" [itemClass]="{ 'item-border': true }"
  >
      <ng-template [width]="150" kendoListViewItemTemplate let-dataItem="dataItem">
        <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="dataItem.value"
                    [bufferValue]="dataItem.bufferValue">
                </mat-progress-bar>

        <kendo-card min-width="400px" width="auto" class="transaction-card">
          <kendo-card-header class="k-hstack"  width="auto">

             <span  style="float: left;  font-size: 12px;"> {{dataItem.stockName}}
              <span class="testcolor"  style="font-size: 12px;">
                <span class="k-icon k-i-arrow-60-down arrow-down" *ngIf="dataItem.sPrice < dataItem.bPrice"></span>
                <span class="k-icon k-i-arrow-60-up arrow-up" *ngIf="dataItem.sPrice > dataItem.bPrice"></span>
                {{ (dataItem.sPrice - dataItem.bPrice).toFixed(2) }}
              </span>


              <span  class="testcolorCng" style="float: right;font-size: 12px;">

                <span class="k-icon k-i-arrow-60-down arrow-down" *ngIf="dataItem.change < 2"></span>
                <span class="k-icon k-i-arrow-60-up arrow-up" *ngIf="dataItem.change > 2"></span>
                 CHG : {{ dataItem.change }}
              </span>
             </span>







          </kendo-card-header>

          <kendo-card-footer>
            <p kendoCardSubtitle class="k-card-subtitle">
              <span style="float: left;font-size: 12px;"> L : {{ dataItem.low }} |  H :  {{ dataItem.high }} </span>
              <span style="float: right;font-size: 12px;"> {{ dataItem.volumeNumber }} ( {{ dataItem.volume }} )</span>
                <!-- <span class="price"> {{dataItem.volume }}</span> -->
                <ng-template #recieve>
                    <!-- <span class="price">{{ dataItem.change }}</span> -->
                </ng-template>
            </p>
          </kendo-card-footer>


      </kendo-card>

      </ng-template>
      <hr>
  </kendo-listview>

</div>
