<div class="card-container">

  <kendo-listview [data]="gridData">
      <ng-template  kendoListViewItemTemplate let-dataItem="dataItem">
        <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="dataItem.value"
                    [bufferValue]="dataItem.bufferValue">
                </mat-progress-bar>


                <table>
                  <tr>
                    <td style="text-align: left;min-width: 250px;"> <span  style="justify-content: space-between;text-align: left; font-size: 12px;"> {{dataItem.stockName}}</span></td>
                    <td style="text-align: right;">
                        <span style="font-size: 12px;">
                          <span class="k-icon k-i-arrow-60-down arrow-down" *ngIf="dataItem.sPrice < dataItem.bPrice"></span>
                          <span class="k-icon k-i-arrow-60-up arrow-up" *ngIf="dataItem.sPrice > dataItem.bPrice"></span>
                        |  {{ (dataItem.sPrice - dataItem.bPrice).toFixed(2) }} |
                        </span>


                        <span style="font-size:12px;">
                          <span class="k-icon k-i-arrow-60-down arrow-down" *ngIf="dataItem.change < 1"></span>
                          <span class="k-icon k-i-arrow-60-up arrow-up" *ngIf="dataItem.change > 1"></span>
                          |  {{ dataItem.change }} |
                        </span>
                        <span style="font-size: 12px;">

                          <span class="k-icon k-i-arrow-60-down arrow-down" *ngIf="dataItem.last < dataItem.open"></span>
                          <span class="k-icon k-i-arrow-60-up arrow-up" *ngIf="dataItem.last > dataItem.open"></span>
                            | {{ dataItem.last }} |
                        </span>
                  </td>
                  </tr>
                  <tr>
                  <td><span style="float: left;font-size: 12px;"> L : {{ dataItem.low }} |  H :  {{ dataItem.high }} </span></td>
                  <td><span style="float: right;font-size: 12px;">  {{ dataItem.volume }} </span></td>
                  </tr>
                </table>


      </ng-template>
      <hr>
  </kendo-listview>

</div>
