.contact {
  padding: 8px 14px;
  margin-bottom: 4px;
  box-shadow: 0 1px 2px #ccc;
}
.contact h2 {
  font-size: 1.3em;
  font-weight: normal;
  margin: 0;
}
.contact p {
  margin: 0;
  font-size: 0.8em;
}
.k-hstack div {
  margin-left: 1em;
}
.mate-info {
  display: inline-block;
  vertical-align: top;
}
.list {
  width: 280px;
  margin: auto;
  padding: 4px 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26),
    0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
}
.contact-list {
  text-align: center;
  padding: 4px;
  font-size: 20px;
}
.price-down .priceColumn,
.arrow-down {
    color: #f31700;

}

.price-down:focus + span { background-color: red }
.testcolor > .price-down{
    position: relative;
    background-color:red;
}

.testcolor .arrow-up {
  position: relative;
  background-color:green;
}

.testcolor .arrow-down {
  position: relative;
  background-color:red;
}

.testcolorCng .arrow-down {
  position: relative;
  background-color:red;
}

.testcolorCng .arrow-up {
  position: relative;
  background-color:green;
}
.price-up .priceColumn,
.arrow-up {
    color: #37b400;
}
